@media only screen and (min-width: 830px){
  .container {
          display: block;
          padding: 0 5%;
          max-width: 830px;
          margin: 0 auto;
        }
  nav a {display: inline-block;}
  float-nav a + a {margin-left: 40px;}
}